<%- include('header') %>
<%- include('navbar') %>
<%- include('search') %>
<div class="qp-container about-top">
    <img src="https://amiversestorage.blob.core.windows.net/amiverse0icons/back.jpg" style="width: 100%;filter: blur(5px);">
    <div class="about-quote">
        <span class="quote" style="width: 90%;">One day, all your hard <br>work will pay off.</span>
    </div>
</div>
<div class="qp-container" style="text-align: center;display: block;padding-bottom: 42px;">
    <br>
    <p style="font-size: 36px;font-weight: bolder;">Don't Worry about exams !</p>

    <p style="font-size: 16px;">Easily get what you're looking for</p><br>
    <div class="about-features" style="display: flex;justify-content: space-around;">
        <div class="feature1 features"><img src="https://amiversestorage.blob.core.windows.net/amiverse0icons/aboutF1.svg" alt="" class="features-img"><p>Papers of different
            years to help with your prepration.
        </p></div>
        <div class="feature2 features"><img src="https://amiversestorage.blob.core.windows.net/amiverse0icons/aboutF2.svg" alt="" class="features-img"><p>Notes, books videos and so
            much more to help you learn.
        </p></div>
        <div class="feature3 features"><img src="https://amiversestorage.blob.core.windows.net/amiverse0icons/aboutF3.svg" alt="" class="features-img"><p>Contribute yourself by letting us know what
            documents you want.
        </p></div>
    </div><br><br>
    <!-- <div class="about-team" style="height: 500px;">
        <p style="font-size: 42px;font-weight: bold;padding-bottom: 20px;">Meet our team</p>
        <div class="about-features" style="display: flex;justify-content: space-around;padding-left: 40px;">
            <div class="feature1 features abf"><img src="/route/images/team/m1.jpeg" alt="" class="features-img abf-i"><p>Aditya Bhardwaj
            </p></div>
            <div class="feature2 features abf"><img src="/route/images/team/m2.jpg" alt="" class="features-img abf-i"><p>Shikhar Pathak
            </p></div>
            <div class="feature3 features abf"><img src="/route/images/about/aboutF3.svg" alt="" class="features-img abf-i"><p>Contribute yourself by letting us know what
                documents you want.
            </p></div>
        </div>
    </div> -->
    <div class="about-contact">
        <img src="/route/images/about/contact.svg" class="about-contact-h-img">
        <div class="about-contact-content">
            <button type="submit" style="padding: 20px 30px;font-size: 32px;background-color: #f6cd21;border-radius: 20px;border: none;">Contact Us</button>
            <p style="font-size: 32px;color: black;margin-top: 20px;">Amiverse@gmail.com</p>
            <a href="https://chat.whatsapp.com/HKbeyL5VcI769LWct3O8pE"><img class="social-img footer-icons" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/whatsapp.jpg"></a>
            <a href="https://www.instagram.com/amiversehub/"><img class="social-img footer-icons" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/instagram.jpg"></a>
            <a href="https://twitter.com/amiverse02"><img class="social-img footer-icons" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/twitter.jpg"></a>
            <a href="https://www.facebook.com/profile.php?id=100089730862047"><img class="social-img footer-icons" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/facebook.png"></a>
        </div>
    </div>
</div>

<%- include('footer') %>