<!-- <form action="/" method="post" class="contributionForm" enctype="multipart/form-data">
    <div class="header-contribute">
        <div class="header-body">
            <div class="header-contribute-left">
                <div class="header-contribute-left-divinput">
                    <input type="number" class="header-contribute-left-divinput-input" placeholder="Enter the year" name="year" required>
                </div>
                <div class="header-contribute-left-divinput"><br>
                    <input type="text" class="header-contribute-left-divinput-input" placeholder="Enter the exam code" name="examCode" required>
                </div>
            </div>
            <div class="header-contribute-right">
                <div class="header-contribute-divfileselect">
                    <img src="" id="previewImage" class="preview-image">
                    <input type="file" class="header-contribute-divfileselect-input" name="uploaded_file" required>
                </div>
                <div class="header-contribute-divsubmit">
                    <button type="submit" class="header-contribute-divsubmit-submit">Contribute</button>
                </div>
            </div>
        </div>
    </div>
</form> -->


<div class="footer-content">
    <div class="footer-content-logo footer-c-l">
        <img src="/route/images/logo.jpg" style="width: 70px;border-radius: 200px;display: block;" alt="Network error">
        <img src="/route/images/cnamelogo.jpg" style="width: 160px;margin-top: 30px;border-radius: 5px; display: block;" alt="Network error">
    </div>
    <div class="footer-content-logo" style="text-align: left;">
        <h5><a href="/" class="footer-home">Home</a></h5>
        <h5><a href="/comingSoon" class="footer-home">Amity Reviews</a></h5>
        <h5><a href="/about" class="footer-home">About us</a></h5>
    </div>
    <div class="footer-content-logo" style="text-align: left;">
        <h5><a href="/year" class="footer-home">Question Papers (year-wise)</a></h5>
        <h5><a href="/year" class="footer-home">Study Material</a></h5>
    </div>
    <div class="footer-content-logo" style="text-align: left;">
        <h5><a href="/about" class="footer-home">Contact Us</a></h5>
        <h5><a href="/about" class="footer-home">Team</a></h5>
        <h5><a href="/contribute" class="footer-home">Contribute</a></h5>
    </div>
</div>
<div class="social footer-social">
    <a href="https://chat.whatsapp.com/HKbeyL5VcI769LWct3O8pE"><img class="social-img footer-icons" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/whatsapp.jpg" alt="Network error"></a>
    <a  href="https://www.instagram.com/amiversehub/"><img class="social-img footer-icons" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/instagram.jpg" alt="Network error"></a>
    <a href="https://twitter.com/amiverse02"><img class="social-img footer-icons" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/twitter.jpg" alt="Network error"></a>
    <a href="https://www.facebook.com/profile.php?id=100089730862047"><img class="social-img footer-icons" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/facebook.png" alt="Network error"></a>
</div>

<script src="/route/yearResultHider.js"></script>
<script>
    CSS.paintWorklet.addModule("/route/bubble-paint.js");
  </script>
    <!-- Load our React component. -->
</body>
</html>
