<div class="mynavbar" id="myNavbar">
    <img src="https://amiversestorage.blob.core.windows.net/amiverse0icons/logo.jpg" class="mynavbar-logo" alt="Network error">
    <ul class="mynavbar-ul">
        <li class="mynavbar-ul-li"><a href="/" class="mynavbar-ul-li-a"><img class="material-symbols-outlined mynavbar-gIcons" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/home.png"></a></li> 
            <!-- <div class="mynavbar-li-hint">Home</div> -->
        <li class="mynavbar-ul-li"><a href="/year" class="mynavbar-ul-li-a"><img class="material-symbols-outlined mynavbar-gIcons" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/filter.png"></a></li>
        <li class="mynavbar-ul-li"><a href="/chat" class="mynavbar-ul-li-a"><img class="material-symbols-outlined mynavbar-gIcons" style="margin-top: 2px;" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/chat.png"></a></li>
        <li class="mynavbar-ul-li"><a href="/studymaterial" class="mynavbar-ul-li-a"><img class="material-symbols-outlined mynavbar-gIcons" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/notes.png"></a></li>
    </ul>
</div>
