<div class="home-notice">
    <div class="home-Contribute"><a href="/contribute"><img src="/route/images/contribute.jpg" alt="Image not Loaded" class="home-cse-contribute"></a></div>
    <div class="home-notice-content">
        <div class="home-notice-content-top">
            <div class="home-notice-content-top-content">
                <div class="home-notice-content-left"><img class="material-symbols-outlined" style="width: 40px;color: white;padding: 8px;" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/notification.png"></div>
                    <div class="home-notice-content-right"><p style="font-size: 24px;color: white;padding: 8px;">Notice</p></div>
            </div>
        </div>
        <div class="home-notice-content-bottom">
            <div class="hncb-record" style="display: flex;">
                <p class="hncb-record-li" style="list-style-type: square;padding-left: 5px;width: 100%;">This is Heading 1</p>
                <span class="hncb-record-date" style="height: fit-content;margin-bottom: 0px;padding-left: 6px;color: #16286e;font-weight: bold;text-align: right;width: 100%;">03-01-2022</span>
            </div>
        </div>
    </div>
</div>