<div class="main-search-box">
    <div class="search-main">
        <div class="search" style="margin-top: 5px;">
            <img class="material-symbols-outlined" style="padding-top: 10px;float: left;width: 32px;" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/search.png">
            <form method="post" action="/search">
                <input name="searchText" type="text" class="search-input" placeholder="Search" autocomplete="off">
            </form>
        </div>
        <div class="search-logo" ><img src="/route/images/cnamelogo.jpg" alt="Network error"></div>
        <!-- <div class="social">
            <a><img class="social-img" src="/route/images/icons/whatsapp.png"></a>
            <a><img class="social-img" src="/route/images/icons/instagram.png"></a>
            <a><img class="social-img" src="/route/images/icons/twitter.png"></a>
            <a><img class="social-img" src="/route/images/icons/facebook.png"></a>
        </div> -->
    </div>

    <div class="search-main-2">
        <div class="search-menu" onclick="showNav()"><img class="search-menu-m" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/menu.png"></div>
        <div class="search-main-2-div">
            <!-- <a href="" class="search-main-2-a"><li class="search-main-2-div-li"></li></a> -->
            <!-- <a href="" class="search-main-2-a sm2-a"><li class="sm2-qp search-main-2-div-li sm2-qp">Question Papers
                <div class="sm2-qp-yr">
                    <ul style="padding-left: 0px;">
                        <li class="sm2qp-li"><a class="sm2qp-li-a">1st Year</a></li>
                        <li class="sm2qp-li"><a class="sm2qp-li-a">2nd Year</a></li>
                        <li class="sm2qp-li"><a class="sm2qp-li-a">3rd Year</a></li>
                        <li class="sm2qp-li"><a class="sm2qp-li-a">4th Year</a></li>
                    </ul>
                </div>
            </li></a> -->
            <a href="/" class="search-main-2-a"><li class="search-main-2-div-li">HOME</li></a>
            <a href="/cse" class="search-main-2-a"><li class="search-main-2-div-li">CSE</li></a>
            <a href="/fbl" class="search-main-2-a"><li class="search-main-2-div-li">FBL</li></a>
            <a href="/about" class="search-main-2-a"><li class="search-main-2-div-li">About</li></a>
            <a href="/contribute" class="search-main-2-a"><li class="search-main-2-div-li">Contribute</li></a>
        </div>
    </div>
</div>


