<div class="year-filter">
    <div class="year-filter-fields" id="pageIdentify">
        <form method="post" action="/year" style="width: 100%;">
            <select name="collegeYear" class="year-filter-fields-input1">
                <option value="year1">1st Year</option>
                <option value="year2">2nd Year</option>
                <option value="year3">3rd Year</option>
                <option value="year4">4th Year</option>
              </select>
              <select name="programName" class="year-filter-fields-input1">
                <option value="cse">Computer Science Engineering</option>
                <option value="bca">BCA</option>
                <option value="civil">Civil Engineering</option>
                <option value="electric">Electrical & Electronics Engineeringr</option>
              </select>
              <select name="examCode" class="year-filter-fields-input1">
                <option value="auto301">AUTO301</option>
                <option value="it303">IT303</option>
                <option value="csit623">CSIT623</option>
                <option value="ece676">ECE676</option>
                <option value="auto603">AUTO603</option>
              </select>
              <br><br>
              <button type="submit" class="year-filter-fields-input1 btn_yearSubmit">Submit</button>
              <br><br>
        </form>
    </div>
</div>